/**

!.gitignore

!.config/

!.config/nvim/
!.config/nvim/**

!.config/alacritty/
!.config/alacritty/**

!.config/neovide/
!.config/neovide/**

!.tmux/
!.tmux/plugins/
!.tmux/plugins/tmux2k/
!.tmux/plugins/tmux2k/**

!.tmux.conf

!.zshrc

!.zprofile

!.wezterm.lua

!README.md

!.aerospace.toml
